
<style>
  .theImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 3%;
  }
  .form-group {
    margin: auto;
    padding-bottom: 1em;
    max-width: 60%;
  }
</style>

<!-- form -->
<div class="col-md-6 col-md-offset-3 well">
  <legend>Donate</legend>
	<form stripe-form="stripeCallback">
    <div class="form-group">
      <label for="inputName" class="control-label">Name / Alias</label>
      <input ng-model="name" class="form-control" name="inputName" required>
    </div>
	  <div class="form-group">
	    <label for="numberMeals" class="control-label">Number of meals</label>
      <input ng-model="meals" type="number" class="form-control" min="20" value="20" step="20" required>
    </div>
    <div class="form-group">
      <label class="control-label">State</label>
        <div class="input-group">
        <select ng-model="state" name="state" class="form-control selectpicker">
          <option value="">Select your state</option>
          <option>Alabama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>District of Columbia</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>daho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Louisiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Mass</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>Montana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option> Uttah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="donationMessage" class="control-label">Donation Message</label>
      <textarea ng-model="message" ng-change="nsfwMessage()" class="form-control" name="txt_msg" rows="3" required></textarea>
      <span ng-show="badWord" style="color:red">Naughty Word Detected!</span>
    </div>
    <div class="form-group">
      <label class="control-label">Card Number</label>
      <input class="form-control" ng-model="number" required>
    </div>
    <div class="form-group">
      <label class="control-label">Expiration Date (MM/YYYY)</label>
      <input class="form-control" ng-model="expiry" required>
    </div>
    <div class="form-group">
      <label class="control-label">Security Code</label>
      <input class="form-control" ng-model="cvc" required>
    </div>
    <div class="form-group">
       <button ng-disabled="badWord" type="submit" class="btn btn-default">Submit</button>
    </div>
	</form>
</div>

<!--
<img class="theImage" src="images/FMSCCollage.jpeg" alt="the image"><br>
  -->
